* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 4805px;
}
.content {
  width: 1520px;
}
.navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  gap: 750px;
}
.navbar h3 {
  width: 136px;
  height: 30px;
  flex-shrink: 0;
  text-transform: uppercase;
}
.navbar-items {
  display: flex;
  width: 255px;
  height: 90px;
  padding: 0px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.navbar-items a {
  width: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration: none;
  padding: 33px 40px;
}
.body {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  padding-left: 118px;
  margin-top: 60px;
}
.body img {
  width: 721px;
  height: 474px;
}
.body-content {
  width: 480px;
  height: 342px;
  padding-left: 50px;
}
.body-content-title {
  width: 90px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.body-content h2 {
  width: 429px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 116.667% */
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 27px;
}
.body-content p {
  width: 419px;
  color: #666;
  font-family: Source Serif Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.body-content h4 {
  width: 110px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 28px;
}
.main {
  margin-top: 34px;
  margin-left: 110px;
  display: flex;
  flex-wrap: wrap;
}
.main-content {
  display: flex;
  width: 406.656px;
  padding: 25.5px 9.656px 49px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.234px;
  overflow: hidden;
}
.main-content:hover {
  animation-name: animation1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-direction: reverse;
  box-shadow: 0px 0px 10px 10px gray;
}
@keyframes animation1 {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.03, 1.03, 1.03);
  }
}
.main-content img {
  width: 387px;
  height: 254px;
}
.main-content-item {
  width: 386.656px;
  height: 134px;
}
.main-content-item p {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-content-item h3 {
  width: 347px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  margin-top: 18px;
}
.main-content-item h4 {
  width: 150px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 15px;
}
.line {
  width: 1210px;
  margin-left: 120px;
  margin-top: 65px;
  margin-bottom: 89px;
}
.main-2 {
  display: inline-flex;
  height: 1014.063px;
  padding-top: 0.031px;
  flex-direction: column;
  align-items: flex-start;
  gap: 29.969px;
  flex-shrink: 0;
  margin-left: 110px;
  margin-bottom: 90px;
}
span {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 10px;
}
.main-2-posts {
  width: 1220px;
  height: 878.063px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-2-post-1 {
  display: flex;
  width: 305px;
  padding: 0.031px 10px 48px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.main-2-post-1:hover {
  animation-name: animation1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-direction: reverse;
  box-shadow: 0px 0px 10px 10px gray;
}
.main-2-post-1 img {
  width: 285px;
  height: 187px;
}
.main-2-post-1-content {
  width: 285px;
  height: 134px;
}
.main-2-post-1-content p {
  width: 90px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-2-post-1-content h3 {
  width: 276px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
  text-transform: uppercase;
  margin-top: 18px;
}
.main-2-post-1-content h4 {
  width: 150px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 15px;
}
.main-2 button {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 21px 26px;
  margin-top: 64px;
  margin-left: 500px;
  margin-bottom: 90px;
}
.main-2 button:hover {
  animation-name: animation;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 0px 20px 5px gray;
}
@keyframes animation {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}
.main-3 {
  width: 1200px;
  height: 1126.375px;
  flex-shrink: 0;
  margin-left: 110px;
}
.main-3 span {
  width: 108px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-3-body {
  width: 1220px;
  height: 1126.375px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.main-3-content {
  display: flex;
  width: 600px;
  padding: 24.969px 10px 49px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.main-3-content:hover {
  animation-name: animation1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-direction: reverse;
  box-shadow: 0px 0px 10px 10px gray;
}
.main-3-content img {
  width: 590px;
  height: 387px;
}
.main-3-content-item {
  padding-left: 5px;
  width: 590px;
  height: 86px;
}
.main-3-content-item p {
  width: 150px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-3-content-item h3 {
  margin-top: 18px;
  width: 522px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-3-content-item h4 {
  width: 132px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer {
  width: 1520px;
  height: 617px;
  flex-shrink: 0;
  background: #141414;
  margin-top: 64px;
}
.footer-body {
  display: flex;
  width: 1200px;
  height: 437px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 59.594px;
  flex-shrink: 0;
  margin-left: 120px;
}
.footer-body-title {
  width: 1200px;
  height: 22px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 90px;
}
.footer-body-title h3 {
  width: 135px;
  height: 17px;
  flex-shrink: 0;
  color: white;
  text-transform: uppercase;
}
.footer-body-title p {
  width: 275px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
}
.line2 {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  background: #4d4d4d;
}
.footer-body-content {
  display: flex;
  width: 1200px;
  height: 294px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
.footer-body-content-1 {
  display: flex;
}
.footer-body-content-1-left {
  display: flex;
  width: 900px;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20.406px;
  flex-shrink: 0;
}
.footer-body-content-1-left p {
  width: 77px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-body-content-1-left-items {
  width: 800px;
  height: 78px;
  flex-shrink: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-body-content-1-left-items a {
  width: 150px;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration: none;
}
.footer-body-content-1-right {
  display: flex;
  width: 300px;
  height: 110px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20.406px;
  flex-shrink: 0;
}
.footer-body-content-1-right p {
  width: 174px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-body-content-1-right-items {
  display: flex;
}
.footer-body-content-1-right-items input {
  width: 221px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  background: #fff;
}
.footer-body-content-1-right-items input::placeholder {
  width: 174px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 24px;
}
.footer-body-content-1-right-items button {
  width: 79px;
  height: 48px;
  flex-shrink: 0;
  background: #000;
  border: none;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-body-content-2 {
  display: flex;
  height: 144px;
  padding: 15px 225px 0px 0px;
  align-items: flex-start;
  flex-shrink: 0;
}
.footer-body-content-2-item {
  display: flex;
  width: 225px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15.406px;
}
.footer-body-content-2-item p {
  width: 86px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-body-content-2-item a {
  width: 147px;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration: none;
}
